<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dotnet.runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dotnet.runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <dotnet.runner.Properties.Settings>
            <setting name="UserSettings" serializeAs="String">
                <value/>
            </setting>
        </dotnet.runner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <dotnet.runner.Properties.Settings>
            <setting name="DefaultSettings" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ApplicationSettingsDto xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;DefaultHighlightSettings&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]VRB\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[VRB\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#808080&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]INF\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[INF\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#008000&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]DBG\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[DBG\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#00FFFF&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]WRN\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[WRN\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#FFA500&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]ERR\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[ERR\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#FF0000&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
    &lt;HighlightSettingDto&gt;
      &lt;Regex&gt;^(\[\d{2}\:\d{2}\:\d{2}[ ]FTL\][ ]|\d{2}\:\d{2}\:\d{2}[ ]\[FTL\][ ])&lt;/Regex&gt;
      &lt;Color&gt;#9370DB&lt;/Color&gt;
    &lt;/HighlightSettingDto&gt;
  &lt;/DefaultHighlightSettings&gt;
&lt;/ApplicationSettingsDto&gt;</value>
            </setting>
        </dotnet.runner.Properties.Settings>
    </applicationSettings>
</configuration>
